extends _base
block config
  include _config
block title
  title #{siteName} | #{siteTitleDescription}
block meta
  meta(name='description', content=siteDescription)
  meta(property='og:description', content=siteDescription)
  meta(property='og:title', content= siteName + ' | ' + siteTitleDescription)
  meta(property='og:url', content=baseURL)

block breadcrumb
  - pageLower = {}

block body
  .c-hero.p-home-hero
    .c-container.c-hero__content.c-hero__content--darken.p-home-hero__content
      .c-hero__texts
        .c-hero__texts__inner
          h1.c-h.c-h--en.c-h--centered.c-hero__title(data-j-hero-title) Rebuild your team.
          p.c-lead.c-lead--centered.c-hero__lead(data-j-hero-lead) あなたの開発チームを強くする
    .c-hero__bg.p-home-hero__bg(style="background-image: url(/dist/image/img-hero.jpg)")
  section.p-home-info
    .c-container.c-container--small
      header.p-home-info__header
        h2.c-h.c-h--centered.c-h--small 年末年始のお知らせ
      .p-home-info__body
        p.c-lead.c-lead--centered
          | 平素は格別のお引立てを賜り、厚く御礼申し上げます。<br>
          | 誠に勝手ながら、弊社では下記日程を年末年始休業とさせて頂きます。
        p.c-lead.c-lead--centered
          | 2017年12月28日（木）～2018年1月8日（月）
        p.c-lead.c-lead--centered
          | 期間中お客様にはご不便をお掛け致しますが、何卒ご寛容くださいます様お願い申し上げます。<br>
          | 尚、期間中のお問い合わせにつきましては1月9日（火）以降にご対応させて頂きます。<br>
          | 来年も、本年同様お客様にご満足いただけるサービスの提供を目指し、<br>
          | 社員一同より一層努力して参ります。<br>
          | 今後とも変わらぬご愛顧の程、宜しくお願い申し上げます。
  section.c-section.p-top-about
    .c-container.c-container--small
      header.c-section__header
        h2.c-h.c-h--en.c-h--centered About
        p.c-h.c-h--sub.c-h--centered coroutineについて
      .c-section__body
        p.c-lead.c-lead--centered
          | 株式会社 coroutine では技術教育とインターネットを活用したビジネスのサポートを事業としています。<br>
          | 代表の東川が大学での教育者として従事した後、インターネットサービスの運営事業の企業に参画し、得た実務経験から、自身に出来る事は技術者の教育である事と考えた事から会社の起ち上げに至りました。<br>
        p.c-lead.c-lead--centered
          | また、サーバサイドのアプリケーション開発、クラウドインフラの構築・運用、プロジェクトマネジメントの経験から、お客様の関心の強い事業、方面へのお手伝いが出来ればとも思っています。
      footer.c-section__footer
        .c-btn.c-btn--detail
          a(href="/about/") もっと詳しくみる

  section.c-section.c-section--bg-accent
    .c-container.c-container--medium
      header.c-section__header
        h2.c-h.c-h--en.c-h--white.c-h--centered Service
        p.c-h.c-h--sub.c-h--white.c-h--centered coroutineにできること
      .c-section__body
        ul.c-img-list
          li.c-img-list__item
            a.c-card(href="/service/#anc-training")
              .c-card-cover
                .c-card-cover__content
                  .c-card-cover__content__inner
                    h3.c-h.c-h--small.c-card-cover__title 技術教育
                    p.c-lead.c-card-cover__lead: small 今の開発の状況を変えたい事業者様向けにご意向をヒアリングし、教育方針の作成や On/Off JT を用いた教育カリキュラムの作成と実施のお手伝いをさせて頂きます。
              .c-card__bg
                .c-bg-img.c-bg-img--scale(style="background-image: url(/dist/image/img-service--training.jpg)")

          li.c-img-list__item
            a.c-card(href="/service/#anc-advisor")
              .c-card-cover
                .c-card-cover__content
                  .c-card-cover__content__inner
                    h3.c-h.c-h--small.c-card-cover__title 技術顧問
                    p.c-lead.c-card-cover__lead: small お客様が抱える、技術的な解決したい問題を顧問として一緒に解決していきます。
              .c-card__bg
                .c-bg-img.c-bg-img--scale(style="background-image: url(dist/image/img-service--advisor.jpg)")

        ul.c-img-list
          li.c-img-list__item
            a.c-card(href="/service/#anc-consulting")
              .c-card-cover
                .c-card-cover__content
                  .c-card-cover__content__inner
                    h3.c-h.c-h--small.c-card-cover__title IT コンサルティング・<br>開発マネジメント
                    p.c-lead.c-card-cover__lead: small 観測 (分析) と問題の解決をお客様と一緒に行なう事で、対処療法的解決ではなく問題の根本からの解決を目指します。
              .c-card__bg
                .c-bg-img.c-bg-img--scale(style="background-image: url(/dist/image/img-service--consulting.jpg)")

          li.c-img-list__item
            a.c-card(href="/service/#anc-development")
              .c-card-cover
                .c-card-cover__content
                  .c-card-cover__content__inner
                    h3.c-h.c-h--small.c-card-cover__title システム開発
                    p.c-lead.c-card-cover__lead: small 単純に開発発注を行なうだけでなく、技術が成熟するまでのパートナーとして稼動するなどお客様ごとに柔軟な対応を想定しているため、まずはご相談頂ければと思います。
              .c-card__bg
                .c-bg-img.c-bg-img--scale(style="background-image: url(/dist/image/img-service--development.jpg)")

      footer.c-section__footer
        .c-btn.c-btn--white.c-btn--detail
          a(href="/service/") もっと詳しくみる
        aside.c-service__bnrs
          a.c-service__bnrs__item.c-service__bnrs__item--rb(href="/service/rebuild-booster.html")
            .c-img
              img.u-d-pc(src=image_path + "rebuild-booster/bnr-rb--pc.png", alt="Rebuild Booster")
              img.u-d-sp(src=image_path + "rebuild-booster/bnr-rb--sp.png", alt="Rebuild Booster")

  include ./template/_contact
