extends template/_base
block config
  include _config
block title
  title #{siteName} | #{siteTitleDescription}
block meta
  meta(name='description', content=siteDescription)
  meta(property='og:description', content=siteDescription)
  meta(property='og:title', content= siteName + ' | ' + siteTitleDescription)
  meta(property='og:url', content=baseURL)

block body
  .contents

